<section class="container sec1">
        <h1 class="text-center">Cadastrar Fotografo</h1>
        <form action="cadastrar" method="post">
        
        <section class="mb-2">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" class="form-control" required>
        </section>

        <section class="mb-2">
            <label for="especialidade">Qual è a sua especialidade</label>
            <select name="especialidade" id="especialidade" class="form-select" required>
            <option value="">Escolha uma opção...</option>
            <option value="Fotografia de produto">Fotografia de produto</option>
            <option value="Fotografia de moda">Fotografia de moda</option>
            <option value="Fotografia social">Fotografia social</option>
            <option value="Fotojornalismo">Fotojornalismo</option>
            </select>

        </section>

        <section class="mb-2">
                <label for="contato">Contato</label>
                <input type="number" id="contato" name="contato" class="form-control" required>
        </section>
       
        <section class="mb-2 d-flex justify-content-end">
            <button class="btn btn-primary" type="submit">Cadastrar</button>
        </section>
        
        </form>
</section>


<style>
    body{
        background-color: #e8f1f2;
    }
    .sec1{
        width: 50%;
        margin-top: 10%;
    }
    </style>